body {
    background-color: #ededb7;
    
}

header { background-color: rgb(173, 228, 228);

}

p { background-color: blueviolet;

}

.first-paragraph {
    background-color: darkorange;

}

#second-paragraph { 
    background-color: seagreen;
    color: #ffffff;
    width: 400px;
    height: 200px;
}